
body{
  width: 80%;
  margin: auto;
  padding: 2vh;

}

h1{
  text-align: center;
}
/* Add this to your styles or global CSS file */
.select-container {
  position: relative;
 
  width: 100%;
}

.select-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
}

.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.option-item:hover {
  /* background-color: #4CAF50; */
  color: #4CAF50;
}

.option-item {
  padding: 0.5rem;
  cursor: pointer;
}

.option-item.selected {
  background-color: #007BFF;
  color: white;
}
